/* Navbar  Styles */

.nav__header {
    width: 100%;
    height: 8vh;
    box-shadow: 0 0 10px var(--medium-grey);
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1111;
}

.nav__header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav__title {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    width: 4.5vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nav__title:hover {
    cursor: pointer;
}

.nav__avatar {
    margin-right: 1rem !important;
    cursor: pointer;
}

.nav__avatar:hover {
    box-shadow: 0 0 4px var(--medium-grey);
}

@media only screen and (max-width: 450px) {
    .nav__title {
        width: 14vw;
    }
}
