@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --body: #fff;
    --shadow: #d9d9d9;
    --text: #141414;
    --btn: #f0f0f0;
    --card: #ffffff;
    --light-grey: #f0f0f0;
    --medium-grey: #d9d9d9;
    --dark-grey: #141414;
    --eerie-black: #22181c;
    --jpn-indigo: #2b3d41;
    --main-blue: #2529f7;
    --nav: var(--body);
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: var(--body);
    color: var(--text);
}

.layout {
    width: 100%;
}

.main {
    width: 100%;
    min-height: 92vh;
    margin-top: 8vh;
}

footer {
    display: flex;
    justify-content: flex-end;
}

.normal__btn {
    color: var(--card);
    font-weight: bold;
}

@media only screen and (max-width: 450px) {
}
