@import '~antd/dist/antd.css';

:root {
    --light-grey: #f0f0f0;
    --medium-grey: #d9d9d9;
    --dark-grey: #141414;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.layout {
    width: 100%;
}

.main {
    width: 100%;
    min-height: 92vh;
}

/* Navbar  Styles */

.nav__header {
    width: 100%;
    height: 8vh;
    box-shadow: 0 0 10px var(--medium-grey);
}

.nav__header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav__title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    width: 4.5vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Home Page */

.home__page {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Login Page */

.login__page {
    display: grid;
    place-items: center;
}

.login__forms {
    min-width: 400px;
}

.login__title {
    margin: 0;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    opacity: 0.8;
    text-align: center;
}

@media only screen and (max-width: 450px) {
    .nav__title {
        width: 14vw;
    }

    .login__forms {
        min-width: auto;
        padding: 0;
        margin: 0;
    }
}
