/* Login Page */
.login__page {
    display: grid;
    place-items: center;
}

.login__forms {
    min-width: 400px;
}

form {
    display: grid;
    align-items: center;
    min-height: 200px;
    margin-top: 2rem;
}

.form__label {
    margin: 0;
    /* margin-top: 2.5rem; */
    /* margin-bottom: 2rem; */
    opacity: 0.7;
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width: 450px) {
    .login__forms {
        min-width: auto;
        padding: 0;
        margin: 0;
    }
}
